@page "/"

<UseStyle url="css/pages/index.min.css"/>

<Tile Main=true>
    <div class="jvmp-center jvmp-row flex">
        <div id="page-desc">
            <h1>Squares</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div id="buttons">
                <img id="squares-ios" src="imgs/app-store.png" href="" />
                <img id="squares-android" src="imgs/play-store.png" href="" />
            </div>
        </div>
        <img src="imgs/iphone.png" href="Screenshot">
    </div>
</Tile>
<footer>
    Copyright © 2020 | JVMP Studio.
    All rights reserved.
</footer>