.tile.main > .jvmp-center {
  height: 100%; }
  .tile.main > .jvmp-center > #page-desc {
    width: 60vh;
    margin: 0 5vh 0 0; }
    .tile.main > .jvmp-center > #page-desc > h1 {
      text-align: left;
      margin: 0 0 3vh 0; }
    .tile.main > .jvmp-center > #page-desc > p {
      line-height: 2.8vh; }
    .tile.main > .jvmp-center > #page-desc > #buttons {
      display: flex;
      flex-direction: row; }
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-ios,
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-android {
        height: 6.5vh;
        margin-top: 15px; }
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-ios {
        margin-right: 7px; }
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-android {
        margin-left: 7px; }
  .tile.main > .jvmp-center > img {
    height: 60vh;
    width: auto; }

footer {
  padding: 4.6vh 0 0 0; }
