@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.tile.main > .jvmp-center {
  height: 100%; }
  .tile.main > .jvmp-center > #page-desc {
    width: 60vh;
    margin: 0 5vh 0 0; }
    .tile.main > .jvmp-center > #page-desc > h1 {
      text-align: left;
      margin: 0 0 3vh 0; }
    .tile.main > .jvmp-center > #page-desc > p {
      line-height: 2.8vh; }
    .tile.main > .jvmp-center > #page-desc > #buttons {
      display: flex;
      flex-direction: row; }
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-ios,
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-android {
        height: 6.5vh;
        margin-top: 15px; }
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-ios {
        margin-right: 7px; }
      .tile.main > .jvmp-center > #page-desc > #buttons > #squares-android {
        margin-left: 7px; }
  .tile.main > .jvmp-center > img {
    height: 60vh;
    width: auto; }

footer {
  padding: 4.6vh 0 0 0; }

html, body {
  background: #252525;
  color: #eee;
  margin: 0;
  display: block; }

button {
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: none;
  border-radius: .5vh;
  padding: 1vh;
  font-family: 'Karla';
  color: #eee; }

h1 {
  font-family: "Rubik", sans;
  text-align: center;
  font-size: 7.5vh;
  letter-spacing: 2px; }

p {
  font-family: "Karla", sans-serif;
  font-size: 2vh; }

footer {
  font-family: "Poppins", lolno;
  font-size: 1.25vh;
  letter-spacing: .25px;
  color: rgba(255, 255, 255, 0.15);
  text-align: center; }

/*
    Main classes
*/
#navbar {
  height: 8vh;
  width: 100%; }
  #navbar img {
    height: 7.5vh;
    width: 7.5vh;
    padding: 1vh 0 0 0; }

.flex {
  display: flex; }

.tile {
  height: 75vh;
  width: 100%; }
  .tile.main {
    height: 85vh !important; }

/*
    Specific classes
*/
.jvmp-center {
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.jvmp-row {
  flex-direction: row; }

/*
    Blazor classes
*/
#components-reconnect-modal {
  background-color: #000; }
